.title{
    display: flex;
    justify-content: center;
    gap: 70px;
    margin-top: 30px;
}

.row{
    width: 10%;
}

.data{
    margin-top: 30px;
    /* margin-left: 20px; */
    display: flex;
    justify-content: center;
    gap: 70px;
}

.container{
    border-top: 1px solid rgb(195, 195, 195);
    border-bottom: 1px solid grey;
}

#row1{
    width: 10%;
    padding-left: 5px;
}

#row2{
    width: 10%;
    padding-left: 5px;
}
.row-button{
    margin-top: 5px;
    display: flex;
    gap: 5px;
}

.images{
    height: 100px;
    width: 100px;
    /* margin-right: 10px; */
}