.body-container{
   margin-top: 50px;
}

.body {
    margin: 10px;
    display: flex;
    justify-content: center;
    gap: 85px;
    flex-wrap: wrap;
    
}

.body-content {
    height: 500px;
    width: 300px;
    border: 1px solid rgb(2, 144, 25);
    border-radius: 10px;
}

.image-container {
    height: 250px;
}

.image-container .image {
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

.title {
    text-align: center;
}

.price {
    text-align: center;
}

.description {
    margin: 0 8px;
}

.add-to-cart {
    cursor: pointer;
    width: fit-content;
    padding: 0.5em 1em;
    background-color: rgb(101, 180, 101);
    border: 1px solid rgb(0, 54, 0);
    margin: 0 auto;
    border-radius: 10px;
    color: rgb(3, 102, 29);
  }

  .add-to-cart:hover{
    background-color: rgb(2, 184, 2);
  }
  
  .item-added {
    width: fit-content;
    padding: 0.5em 1em;
    background-color: rgb(187, 255, 187);;
    border: 1px solid rgb(0, 54, 0);
    color: rgb(3, 102, 29);
    margin: 0 auto;
    border-radius: 10px;
  }